body {
  background: #6c6ccb;
}

.card-placeholder {
  background: #CCC;
  margin-bottom: 5px;
  min-height: 35px;
}

.column {
  float: left;
  margin: 5px 5px 0 0;
  padding: 5px;
  width: 270px;
}

.column-name {
  font-size: 20px;
  margin-top: 5px;
  overflow: auto;
  word-break: break-all;
}

#board > h1 {
  font-size: 25px;
}

.card {
  margin-bottom: 5px;
  padding: 5px;
}

.card-name {
  overflow: auto;
  word-break: break-all;
}

.card:hover, .card:focus {
  opacity: 0.7;
}

ul.column-card-list {
  margin-bottom: 5px;
  min-height: 35px;  /* necessary for droppable */
}

.card button.btn-delete.close.card-edit,
.card button.btn-delete.close.card-close,
.column button.btn-delete.close.column-edit,
.column button.btn-delete.close.column-close {
  display: none;
}

.card:hover button.btn-delete.close.card-edit,
.card:hover button.btn-delete.close.card-close,
.column:hover button.btn-delete.close.column-edit,
.column:hover button.btn-delete.close.column-close,
.card:focus button.btn-delete.close.card-edit,
.card:focus button.btn-delete.close.card-close,
.column:focus button.btn-delete.close.column-edit,
.column:focus button.btn-delete.close.column-close {
  display:inline-block;
}

.card button.btn-delete.close.card-edit,
.column button.btn-delete.close.column-edit {
  padding: 2px;
  font-size: 12px;
}
