body {
  background: #6c6ccb;
  margin: 0;
}

.card-placeholder {
  background: #CCC;
  margin-bottom: 5px;
  min-height: 35px;
}

.column {
  float: left;
  margin: 5px 5px 0 0;
  padding: 5px;
  width: 270px;
}

.column-name {
  font-size: 20px;
  margin-top: 5px;
  overflow: auto;
  padding: 2px;
  word-break: break-all;
}

#board > h1 {
  font-size: 25px;
}

.card {
  margin-bottom: 5px;
  padding: 5px;
}

.card-name {
  overflow: auto;
  word-break: break-all;
}

.card:hover,
.card:focus {
  opacity: 0.7;
}

.column-card-list {
  margin-bottom: 5px;
  min-height: 35px;  /* necessary for droppable */
}

button.close {
  display: none;
}

.column:hover > button.close,
.column:focus > button.close,
.card:hover > button.close,
.card:focus > button.close {
  display:inline-block;
}
